*.pyc
*.DS_Store
*.egg*
*.vscode
/dist/
/.idea
/docs/_build/
/node_modules/
build/
aws

/staticfiles/

#src
*.sqlite*
venv
#env/.dev
#dashboard/static/assets/js/dist/bundle.js
dashboard/static/assets/js/dist/bundle.js.LICENSE.txt
