:root {
  /* main colors */
  --main-color: #c2dae4;
  --secondary-color: #3D7186;
  --teritary-color: #2C5464;
  --black: #000;
  --white: #fff;
  --grey: #808080;
  --secondary-text: #e7e3d4;
  --primary-text: #cfefe7;

  
  /* Shadows */
  --line-color: rgba(61, 113, 134, 0);

  /* buttons */
  --btn-primary:#22577a;
}

body{
  overflow-x: hidden;
}

*:hover {
  text-decoration: none;
}