label {
    font-size: 1.8rem;
  }
  input,
  textarea {
    width: 100%;
    font-size: 2rem;
    padding: 1.2rem;
    color: var(--grey);
    background-color: var(--white);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
  }
  textarea {
    min-height: 250px;
    resize: vertical;
  }
  button[type='submit'] {
    background-color: var(--grey);
    color: var(--black);
    font-size: 2rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 1rem 4rem;
    border-radius: 8px;
    cursor: pointer;
  }
  input{
    height: 1svh;
    padding: 16px 10px ;
    font-size: 1rem;
  }

input[type="number"]::-webkit-inner-spin-button{
  display: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

.hero-info{
  background-color: var(--secondary-color);
  border-radius: 2% 2% 2% 2%
}
.hover-effect:hover {
  transform: scale(1.1);
  transition: all 100ms ease-in;
  color: var(--btn-primary) ;
  
}
.hover-effect{
  height: 60px;
  
}

.contact-color{
  color: var(--main-color);
}

