@import "rsuite/dist/rsuite.css";

.nav-link:hover {
  border-bottom: 3px solid var(--secondary-color);
  transition: all 300ms ease-in;
}

.custom-nav-link{
  border-bottom: 3px solid var(--white);
}

.active_tab {
  border-bottom: 3px solid var(--secondary-color);
}

.btn-self {
  background: var(--secondary-color);
  transition: all 300ms ease-in;
  color: var(--white);
  border: var(--secondary-color);
  padding: 8px 16px;
}

.btn-self:hover {
  opacity: 0.8;
  color: var(--white);
  background: var(--secondary-color);
}

.btn-core-primary-outline {
  border: 2px solid var(--secondary-color);
  background: var(--white);
  transition: all 300ms ease-in;
  color: var(--secondary-color);
}

.btn-core-primary-outline:hover {
  border: 2px solid var(--secondary-color);
  color: var(--white);
  background: var(--secondary-color);
}

.user-btn{
  border-color: var(--secondary-color);
  transition: all 300ms ease-in;
  background-color: var(--secondary-color);
  color: var(--white);
}

.user-btn:hover{
  border-color: var(--secondary-color);
  background-color: transparent;
  color: var(--black);
}