
<body>
    <div className="contents order-2 order-md-1">
        <div className="container">
            <div className="row align-items-center justify-content-center">
                <div className="col-md-7">
                    <h3>Forgot Your <strong>Password ?</strong></h3>
                    <form method="GET" className="form">
                        <div className="form-group first">
                            <label className="h5">Email</label>
                            <br />
                            <input className="form-control" type="email" name="email" value="{email}"
                                placeholder="Enter Your Email To Verify" required />
                        </div>
                        <br />
                        <button type="submit" className="btn text-light">Verify</button>
                        <div>
                            <p><strong>*NOTE</strong> : OTP will be sent to your E-mail</p>
                        </div>
                    </form>

                    <form method="POST" className="form" onSubmit="{handleOtpValidation}">
                        <div className="form-group first">
                            <label className="h5">OTP</label>
                            <br />
                            <input className="form-control" type="text" name="otp" value="{otp}" placeholder="Enter OTP"
                                required />
                        </div>
                        <br />
                        <button type="submit" className="btn text-light">
                            Validate OTP
                        </button>
                        <div>
                            <p><strong>*NOTE :</strong> Check your given E-mail for OTP</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>