{% load static %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
</style>

<body style="
    background: #c2dae4;
    margin: 0px;
    padding: 16px;
    font-family: 'Lora', serif;
    box-sizing: border-box;
">
    <div style="text-align: center; font-size: 50px; color: #2c5464">
        <a href="https://www.scoopinvestment.com">
            <img src="https://scoopinvestment.com/static/assets/img/logo.jpg"
                alt="Scoop Investment"
                style="width: 120px;"
            >
        </a>
    </div>

    <hr style="width: 90%; margin: auto; border: 1px solid #2c5464" />
    <div>{% block content %}{% endblock content %}</div>
    <br>
    <div>
        <table style="
                table-layout: fixed;
                width: 100%;
                box-sizing: border-box;
                width: 100%;
        ">
            <tbody style="text-align: center">
                <tr>
                    <td style="padding:0px">
                        <table style="
                            padding:25px 0;
                        ">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="
                                                font-size: 11px;
                                                width: 100%;
                                                margin: 0;
                                                box-sizing: border-box;
                                                ">
                                            Please do not respond to this email.
                                        </p>

                                        <p style="
                                            font-size: 11px;
                                            width: 100%;
                                            margin: 0;
                                            box-sizing: border-box;
                                            ">
                                            &copy; Scoop investment | All rights reserved.
                                        </p>
                                    </td>
                                    <td style="width: 200px; text-align: end" width="200" align="end">
                                        <p style="width: 100%; margin: 0; box-sizing: border-box">
                                            <a href="https://www.scoopinvestment.com"
                                                style="text-decoration: none; color: #6500ff" target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://scoopinvestment.com&amp;source=gmail&amp;ust=1686131600206000&amp;usg=AOvVaw3vX-yVL3oI4BQ6LikM2_id">scoopinvestment.com</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>