<style>
    @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
</style>

<body style="
    background-color: #c2dae4;
    margin: 0px;
    padding: 16px;
    font-family: 'Lora', serif;
    box-sizing: border-box;
">
    <h1 style="
        text-align: center;
        font-size: 50px;
        color: #2c5464;
    ">
        YOGYA CAPITAL
    </h1>

    <hr style="width: 90%; margin: auto; border: 1px solid #2c5464" />

    <div style="
        display: flex; 
        flex-direction: column;
        justify-content: center
        ">
        {% block content %}{% endblock content %}
        <table style="
            table-layout:fixed;
            width:100%;
            box-sizing:border-box;
            width: 100%;
        ">
            <tbody>
                <tr>
                    <td style="padding:0px">
                        <table style="
                            padding:25px 0;
                            bgcolor: #f4f4f5
                        ">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="
                                            font-size:11px;
                                            width:100%;
                                            margin:0;
                                            box-sizing:border-box
                                        ">
                                            Please do not respond to this email.
                                        <p style="
                                            font-size:11px;
                                            width:100%;
                                            margin:0;
                                            box-sizing:border-box
                                        ">
                                            &copy; Yogya Capital | All rights reserved.</p>
                                    </td>
                                    <td style="
                                        width:200px;
                                        text-align:end" 
                                        width="200" 
                                        align="end"
                                    >
                                        <p style="width:100%;margin:0;box-sizing:border-box">
                                            <a href="https://yogyacapital.com"
                                                style="text-decoration:none;color:#6500ff" target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://yogyacapital.com&amp;source=gmail&amp;ust=1686131600206000&amp;usg=AOvVaw3vX-yVL3oI4BQ6LikM2_id">yogyacapital.com</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>