{% extends 'emails/base-email.html' %}
{% block content %}

<h3 style="
    text-align: center;
    font-size: 30px;
    color: #3d7186;
    font-size: medium;
    ">
    Hey, {{ name }}, wants to contact us.
</h3>
<table style="
    border-collapse: collapse;
    width: 100%;
">
    <tr style="
            background-color: rgba(61, 113, 134, 0.7);
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            color: #FFF;
        ">
        <td style="padding: 20px 35px 0px 35px;">
            <span style="color: #FFF;
            font-size: 18px;">
                Name:
            </span>
            <span style="color: #FFF;
        font-size: 18px;">
                {{ name }}</span><br>
            <span style="color: #FFF;
            font-size: 18px;">
                Email:
            </span>
            <span style="color: #FFF;
        font-size: 18px;">
                <a href="mailto:{{ email }}" target="_blank" style="color: #FFF; text-decoration: none;"> &nbsp;{{ email }}</a></span><br>
            <span style="color: #FFF;
            font-size: 18px;">
                Phone: </span>
            <span style="color: #FFF;
            font-size: 18px;">
                <a href="tel:{{ phone_number }}" target="_blank" style="color: #FFF; text-decoration: none;"> &nbsp;{{ phone_number }}</a></span>
        </td>
    </tr>
    <tr style="
            background-color: rgba(61, 113, 134, 0.7);
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            color: #FFF;
            font-size: 16px;
        ">
        <td style="padding: 20px 35px 20px 32px;">
            {{ message }}
        </td>
    </tr>
</table>
{% endblock content %}