.account-btn{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white);
}

.account-btn:hover{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--black);
}