# True for development, False for production
DEBUG=True
# DEBUG=False

SECRET_KEY='YHsyRh8uwvC1nnGFptKeU5tr5MlUB7rCkTH5I7pNNm8I0HYyheJn8NaovV2ntiQP'

# Email settings
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_USE_TLS = True
EMAIL_PORT = 587

EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''

SENDER_EMAIL = ''
DEFAULT_FROM_EMAIL = ''
SEND_CONTACT_US_EMAIL_TO_EMAIL = ''

# Database settings
DB_ENGINE='postgresql_psycopg2'
DB_HOST='localhost'
DB_NAME='yogya'
DB_USERNAME=
DB_PASS=
DB_PORT=5432

# SITE_SETTINGS
SITE_ID = 1
SITE_NAME = "yogyacapital.com"
SITE_URL = "yogyacapital.com"
DOMAIN_NAME = "yogyacapital.com"
RENDER_EXTERNAL_HOSTNAME = "http://www.yogyacapital.com"
ASYNC_EMAILS = False
SKIP_OTP = True